/* common style */
.container{width: 100%; height: auto;margin: auto; padding: 0 ; }
.section{width: 100%; height: auto; padding: 0 ;}

/* color */
/* 진파랑 #04c4fc , 연하늘 #04dbfb , 노랑  #f8e753 , 형광연두 #6cec7c */

/* pre-header style */
.pre-header{background-color: #fff; padding: 15px 8rem; width: 100%; transition: all .4s;}
.pre-header .container{display: flex; align-items: center;justify-content: space-between;}
.pre-header .container a{font-size: 14px; color: #04dbfb; transition: all .3s;}
.pre-header .container a:hover{color: #0d87ac;}
.pre-header .container i{font-size: 18px; margin-right: 10px; }
.pre-header .container ul{display: flex; column-gap: .5rem;}


/* main-header sytle */
.main-header{background: linear-gradient(90deg, #04dbfb, #f8e753); width: 100%; padding: 0 8rem;position: fixed; transition: all .4s;z-index: 1000; }
.main-header .container{display: flex; justify-content: space-between; align-items: center;}
.logo img{width: 120px; height: auto;padding: .5rem 0;}
.nav{display: flex;}
.nav a{color: #fff; font-size: 16px;font-weight: 600; transition: all .3s; margin-left: 2rem;}
.nav a:hover{color: #0d87ac;}


/* landing-section style */
.landing-section{width: 100%;position: relative;}
.landing-section .pages{position: relative;display: flex; align-items: center;justify-content: center;}
/* .landing-section .swiper-slide{width: 100%; height: auto; display: flex; justify-content: center; align-items: center;} */
.landing-section img{width: 100%;height: auto; max-height: 720px; overflow: hidden;}

.landing-section .slider-btn{color: #000; width: 50px; height: 50px; background: #fff; border-radius: 50%; box-shadow: 0 0 2px #666; opacity: 0.8;}
.swiper-button-next:after, .swiper-button-prev:after{font-size: 1.25rem;}



@keyframes show-up{
  0%{transform: translateY(40px); opacity: 0;}
  100%{transform: translateY(0); opacity: 1;}
}

.slider-text{
  width: 100%; height: auto;z-index: 300;display: flex; justify-content: center; align-items: center; position: absolute; top: 80%; transform: translateY(-80%); left: -30%;transform: translateX(0); flex-direction: column; margin-left: 5rem;
}
.slider-text .text-wrapper{background: #fff; padding: .5rem 1.5rem; opacity: .8;border-radius: 1rem;}
.slider-text h4{font-size: 25px;line-height: .1rem;margin-top: 1rem; color: #04e4c8;}
.slider-text a i{color: #db6cf4; }
.slider-text p{font-size: 18px;line-height:1.5rem;}

/* service section */
.services{width: 100%; height: 100vh; padding: 0; transition: all .5s;position: relative;display: flex; align-items: center;color: #fff;justify-content: center;left: 0; top: 0; background-image: url(/img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }

.services img{width: 100%; position: absolute;height: auto;}
.services .right-text{z-index: 25; position: relative; display: flex;flex-direction: column;align-items: end; _top: 100px; padding: 0 8rem;}
.services .section-heading{font-size: 18px; width: 550px;}
.section-heading *{transition: all .1s;}

.services em, .services p{text-shadow: 2px 2px 2px #666; }
.services h2{font-size: 30px; color: #444; }
.services em{color: #fff;}
.line{width: 70px; border: 2px solid ; margin: .5rem 0;box-shadow: 2px 2px 2px #666; }

.section-item{display: flex;flex-direction: column;align-items: center; justify-content: center;}
.item-box img{width: 70px; border-radius: 50%; margin-top: 40px; margin-left: 5.5rem;}
.top-item{display: flex;padding: 2rem;}
.bottom-item{display: flex; padding: 0 2rem;}
.item-box{color: #444; border-radius: 1rem; background-color: #fff; width: 250px; height: 200px; margin-left: 2rem; display: flex; border: 1px solid #f3d7ff; transition: all .4s;}
.section-item .item-box:hover{box-shadow: 0px 0px 10px rgb(70, 30, 68);}
.item-box:nth-child(2) h4{margin-left: 1rem;}
.item-box h4{margin-top: 130px;text-align: center;}
.item-box h4:hover{color : #5b03e4}

/* top btn */
.arrowBtn{transition: all 0.4s;}
.arrowBtn button{border: 0; background: #f8e753; border-radius: 50%; font-size: 16px; width: 50px;height: 50px; display: flex; align-items: center; justify-content: center; position: fixed; bottom: 20px; right: 20px;font-weight: 600; color: #666; z-index: 10000; }
.arrowBtn i{padding: .25rem;}
#top button{bottom: 75px;}



/* slick section */

.item{position: relative; width: 250px ;margin: 2rem; border: 2px solid #f8e753; border-radius: 2rem; overflow: hidden; }
.item:hover{box-shadow: 0px 0px 10px rgb(136, 129, 3);}
.slick-items img{width: 100%;}

.item .about-member{position: absolute; background: #fff; width: 100%; bottom: 0; display: flex; justify-content: space-around; align-items: center; height: 80px; }

.about-member a{width: 50px; height: 50px; border-radius: 50%;  display: flex; align-items: center; justify-content: center;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); font-size: 18px; color: #04e4c8;}

.projects .section-heading{margin-left: 8rem; margin-bottom: 30px; margin-top: 50px;}
.projects h2{font-size: 30px;}
.projects p{font-size: 18px;}
.projects em{font-weight: bold;}
.projects em, .projects span{color: #f8e753;text-shadow: 1px 1px 1px #888;}

/* contact section */
.contact-section{width: 100%;height: auto; padding: 0; }
.contact-wrapper{width: 100%; padding:  5rem 8rem; }
.contact-info{width: 100%;display: flex;align-items: center; justify-content: center;border: 1px solid #04e4c8; box-shadow: 0px 0px 10px #cbcbcb; border-radius: 2rem;}
.left-map{width: 40%;padding: 2rem;}
#map{width: 100%; height: 500px;display: flex; justify-content: center; align-items: center; border: 1px solid #04e4c8;box-shadow: 0px 0px 10px #cbcbcb;border-radius: 2rem;}

.right-form{width: 60%; text-align: center;border: 1px solid #04e4c8; box-shadow: 0px 0px 10px #cbcbcb;margin: 2rem 2rem 2rem 0;height: 500px; border-radius: 2rem;display: flex; align-items: center; justify-content:center; text-align: center; flex-direction: column;}

#contact-form{display: flex;flex-direction: column; justify-content: center;align-items: center; row-gap: 1rem;padding: 1rem;}
#contact-form h3{font-size: 25px; color: #444;}
.form-info input, .form-info button{width: 250px;height: 45px;border: 1px solid #04e4c8; font-size: 16px;border-radius: 2rem; padding: 1rem;}
.form-info button{display: flex; justify-content: center; align-items: center; background: #04e4c8; cursor: pointer;}
.form-info button:hover{color: #fff;}

.more-info{background:#04e4c8; width: 100%; bottom: 0; display: flex; justify-content: space-around; align-items: center; height: 200px;border-radius: 0px 0px 2rem 2rem;}
.more-contact{display: flex; flex-direction: column; row-gap: 1rem; width: 33.33%;}
.more-contact:hover *{color: #fff;}
.more-contact i{font-size: 20px;}


/* footer */
footer{width: 100%; height: 100px; position: absolute; display: flex; align-items: center; justify-content: center; text-align: center;color: #04dbfb; } 
